<!DOCTYPE html>
<html>
{% load static from static %}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>

<body>
    <div class="container is-fluid">
        <div class="notification">
            <h2 class="subtitle">Record</h2>
            <div class="columns">
                <div class="column is-full">
                    <button id="record" class="button is-primary"> <i class="fas fa-microphone"></i>&nbsp; Record</button>
                    <button id="stopRecord" class="button is-danger" disabled> <i class="fas fa-stop-circle"></i>&nbsp; Stop</button>
                </div>
            </div>
            <div class="columns">
                <div class="box">
                    <h2 class="subtitle">Recordings</h2>
                    <audio id="recordedAudio"></audio>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'amar_js.js' %}" params="filename"></script>
</body>

</html>